pymupdf
pandas
nltk
sentence-transformers
faiss-cpu
scikit-learn
rank_bm25
transformers
tqdm
streamlit
#chromadb
chromadb==0.4.24
#chromadb==0.4.1
pyarrow
unidecode
langchain
torch
nomic
#gradio==4.44.0 # or a newer version
ollama
langfuse
#openai
pdfplumber
langchain-community
langchain-chroma
langchain-huggingface
pysqlite3-binary
huggingface-hub
peft
#langchain-community==0.0.32
numpy==1.26.4
langchain-core
accelerate
bitsandbytes
openai





