pymupdf
pandas
nltk
#sentence-transformers
faiss-cpu
scikit-learn
rank_bm25
#transformers
tqdm
#streamlit
#chromadb
chromadb==0.4.24
#chromadb==0.4.1
pyarrow
unidecode
#langchain
#transformers
torch
nomic
#gradio==4.44.0 # or a newer version
ollama
langfuse
openai
pdfplumber
#langchain-community
langchain-chroma
langchain-huggingface
pysqlite3-binary
#huggingface-hub
peft
#langchain-community==0.0.32
numpy==1.26.4
#huggingface-hub==0.17.3
#langchain-core
accelerate
bitsandbytes
langchain==0.1.10
langchain-community==0.0.29
langchain-core==0.1.33
huggingface-hub==0.22.2
transformers==4.38.2
sentence-transformers==2.2.2
langchain-text-splitters==0.0.1
tiktoken==0.6.0
streamlit==1.31.1
python-dotenv==1.0.1
pypdf==4.1.0
unstructured==0.12.5



