pymupdf
pandas
nltk
sentence-transformers
faiss-cpu
scikit-learn
rank_bm25
transformers
tqdm
streamlit
chromadb
#chromadb==0.4.1
pyarrow
unidecode
langchain
transformers
torch
nomic
gradio==4.44.0 # or a newer version
ollama
#bs4
#lxml
langfuse
openai
pdfplumber
langchain_community
langchain-chroma
langchain-huggingface
pysqlite3-binary
huggingface_hub
langchain
sentence-transformers
torch
peft

